<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.taobao.zeus.dal.mapper.ZeusLogMapper" >
  <resultMap id="BaseResultMap" type="com.taobao.zeus.dal.model.ZeusLog" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="logtype" property="logtype" jdbcType="VARCHAR" />
    <result column="createtime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="username" property="username" jdbcType="VARCHAR" />
    <result column="ip" property="ip" jdbcType="VARCHAR" />
    <result column="url" property="url" jdbcType="VARCHAR" />
    <result column="rpc" property="rpc" jdbcType="VARCHAR" />
    <result column="delegate" property="delegate" jdbcType="VARCHAR" />
    <result column="method" property="method" jdbcType="VARCHAR" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="check_uid" property="checkUid" jdbcType="VARCHAR" />
    <result column="check_time" property="checkTime" jdbcType="TIMESTAMP" />
    <result column="oldscript" property="oldScript" jdbcType="LONGVARCHAR" />
    <result column="newscript" property="newScript" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, logtype, createtime, username, ip, url, rpc, delegate, method, description,
    status,check_uid,check_time,oldscript,newscript
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from zeus_log
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectByActionId" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from zeus_log
    where rpc = #{actionId,jdbcType=VARCHAR}
    order by createtime desc limit 1
  </select>
  <select id="selectByLogType" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from zeus_log
    where logtype = #{logType,jdbcType=VARCHAR}
    order by createtime desc limit 500
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from zeus_log
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.taobao.zeus.dal.model.ZeusLog" >
    insert into zeus_log (id, logtype, createtime, 
      username, ip, url, 
      rpc, delegate, method, 
      description)
    values (#{id,jdbcType=BIGINT}, #{logtype,jdbcType=VARCHAR}, #{createtime,jdbcType=TIMESTAMP}, 
      #{username,jdbcType=VARCHAR}, #{ip,jdbcType=VARCHAR}, #{url,jdbcType=VARCHAR}, 
      #{rpc,jdbcType=VARCHAR}, #{delegate,jdbcType=VARCHAR}, #{method,jdbcType=VARCHAR}, 
      #{description,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.taobao.zeus.dal.model.ZeusLog" >
    insert into zeus_log
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="logtype != null" >
        logtype,
      </if>
      <if test="createtime != null" >
        createtime,
      </if>
      <if test="username != null" >
        username,
      </if>
      <if test="ip != null" >
        ip,
      </if>
      <if test="url != null" >
        url,
      </if>
      <if test="rpc != null" >
        rpc,
      </if>
      <if test="delegate != null" >
        delegate,
      </if>
      <if test="method != null" >
        method,
      </if>
      <if test="description != null" >
        description,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="checkUid != null" >
        check_uid,
      </if>
      <if test="checkTime != null" >
        check_time,
      </if>
      <if test="oldScript != null" >
        oldscript,
      </if>
      <if test="newScript != null" >
        newscript,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="logtype != null" >
        #{logtype,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="username != null" >
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="ip != null" >
        #{ip,jdbcType=VARCHAR},
      </if>
      <if test="url != null" >
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="rpc != null" >
        #{rpc,jdbcType=VARCHAR},
      </if>
      <if test="delegate != null" >
        #{delegate,jdbcType=VARCHAR},
      </if>
      <if test="method != null" >
        #{method,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="checkUid != null" >
        #{checkUid,jdbcType=VARCHAR},
      </if>
      <if test="checkTime != null" >
        #{checkTime,jdbcType=TIMESTAMP},
      </if>
      <if test="oldScript != null" >
        #{oldScript,jdbcType=LONGVARCHAR},
      </if>
      <if test="newScript != null" >
        #{newScript,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.taobao.zeus.dal.model.ZeusLog" >
    update zeus_log
    <set >
      <if test="logtype != null" >
        logtype = #{logtype,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="username != null" >
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="ip != null" >
        ip = #{ip,jdbcType=VARCHAR},
      </if>
      <if test="url != null" >
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="rpc != null" >
        rpc = #{rpc,jdbcType=VARCHAR},
      </if>
      <if test="delegate != null" >
        delegate = #{delegate,jdbcType=VARCHAR},
      </if>
      <if test="method != null" >
        method = #{method,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status=#{status,jdbcType=INTEGER},
      </if>
      <if test="checkUid != null" >
        check_uid=#{checkUid,jdbcType=VARCHAR},
      </if>
      <if test="checkTime != null" >
        check_time=#{checkTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.taobao.zeus.dal.model.ZeusLog" >
    update zeus_log
    set logtype = #{logtype,jdbcType=VARCHAR},
      createtime = #{createtime,jdbcType=TIMESTAMP},
      username = #{username,jdbcType=VARCHAR},
      ip = #{ip,jdbcType=VARCHAR},
      url = #{url,jdbcType=VARCHAR},
      rpc = #{rpc,jdbcType=VARCHAR},
      delegate = #{delegate,jdbcType=VARCHAR},
      method = #{method,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>