<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.taobao.zeus.dal.mapper.ZeusTimeZoneMapper" >
  <resultMap id="BaseResultMap" type="com.taobao.zeus.dal.model.ZeusTimeZone" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="timezone" property="timezone" jdbcType="VARCHAR" />
    <result column="uid" property="uid" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, timezone, uid
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from zeus_timezone
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from zeus_timezone
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.taobao.zeus.dal.model.ZeusTimeZone" >
    insert into zeus_timezone (id, timezone, uid
      )
    values (#{id,jdbcType=INTEGER}, #{timezone,jdbcType=VARCHAR}, #{uid,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.taobao.zeus.dal.model.ZeusTimeZone" >
    insert into zeus_timezone
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="timezone != null" >
        timezone,
      </if>
      <if test="uid != null" >
        uid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="timezone != null" >
        #{timezone,jdbcType=VARCHAR},
      </if>
      <if test="uid != null" >
        #{uid,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.taobao.zeus.dal.model.ZeusTimeZone" >
    update zeus_timezone
    <set >
      <if test="timezone != null" >
        timezone = #{timezone,jdbcType=VARCHAR},
      </if>
      <if test="uid != null" >
        uid = #{uid,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.taobao.zeus.dal.model.ZeusTimeZone" >
    update zeus_timezone
    set timezone = #{timezone,jdbcType=VARCHAR},
      uid = #{uid,jdbcType=BIGINT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>